<h1>Professors</h1>
<div class="ui attached segment">
<p>Professors can actively check for students available to grade for their classes. Additionally professors are encouraged to write recommendations for students, those recommendations can be found <a href="../../recommendations">here</a></p></div>
<div class="three ui buttons">
<form action="../../applicants" ><button class="ui bottom attached green button">Available Students</button></form>
<form action="../../recommendations/new" ><button class="ui bottom attached blue button">Submit Recommendation</button></form>
<form action="../../courses" ><button class="ui bottom attached violet button">View Courses</button></form>
</div>
