<h1>Professors</h1>
<p>Professors can actively check for students available to grade for their classes. Additionally professors are encouraged to write recommendations for students, those recommendations can be found <a href="../../professors/recommendations">here</a></p><br /><br />
<div class="btn-block">
	<button type="button" class="btn-primary" onclick="location.href = '../../applicants/new' ">Available Students</button></form>
	<button type="button" class="btn-info" onclick="location.href = '../../recomendations/new' ">Submit Recommendation</button></form>
	<button type="button" class="btn-success" onclick="location.href = '../../class' ">View Courses</button></form>
</div>
