<h1></h1>
<h3 style = "color:teal"> Matching professors with their graders like there is no tomorrow.</h3>
<div class="col-md-6">
	<p style ="font-size:14px">Graders are the people who grade assignments for the professors. They are the men behind the mirror! Graders follow what the professor tells them to do. They work tirelessly to give students the best possible experience here at The Ohio State University</p>
</div>
<div class="col-md-6">
	<p style ="font-size:14px">Professors teach the courses. Sadly, a professor has far too many assignments to grade than they are capable of doing (without overloading their brains). Thus, a professor will give all of the easy grading to students who have previously taken the course.</p> 
</div>
<div class="col-md-1" style=""></div>
<div class="col-md-4" style="background-color: #ba9d47 !important; border-radius: 12px; height:280px;margin-top: 15px;padding: 0px 15px 15px 15px; width:300px">
	<div style="text-align:center;color:white">
	<h1 style="color:white">Grader</h1>
	<p>Become a grader today! <br />It's as easy as 1, 2, grader!</p>
	<img src="/grader.jpg" height=150px; align="middle">
	</div>
</div>
<div class="col-md-2" style=""></div>
<div class="col-md-4" style="background-color: #4f62a6 !important; border-radius: 12px; height:280px;margin-top:15px;padding:15px;width:300px">
		<div class="col-md-6" style="color:white">
			
			<p>Pick your graders! <br />They are mostly bad so choose wisely!</p>
		</div>
		<div class="col-md-6" style="">
		<img src="/professor.jpg" height=150px; align=bottom>
		</div>
		<div class="col-md-12" style="">
			<h1 style="color:white;text-align:center">Professor</h1>
		</div>

</div>
<div class="col-md-1" style=""></div>