<h1>Students</h1>
<p>Students have the ability to make an application to submit to professors. The professors ultimately make the decision on which students will be the graders for their classes. It is recomended that you have previous professors write some recomendations for you, these recomendations can be submited <a href="../../professors/recommendations">here</a></p><br /><br />
<div class="btn-block">
	<button type="button" class="btn-primary" onclick="location.href = '../../applicants/new' ">New Application</button></form>
	<button type="button" class="btn-info" onclick="location.href = '../../applicants' ">View Applications</button></form>
	<button type="button" class="btn-success" onclick="location.href = '../../courses' ">View Courses</button></form>
</div>
