<div class="ui segment" style="text-align:center">
	<h2 class="ui header">Please wait while we gather the data for you.<h2>
	<div class="ui active large text centered inline loader"></div><br />
	<p>You will be automatically redirected once the gathering has completed.</p>
</div>
<%  render "courses/loader" %>