<p id="notice"><%= notice %></p>
<form action="../courses/gatherdata">
  <button class="ui right floated violet button">Gather Data</button>
</form>

<h1>Courses</h1>
<%= smart_listing_render(:courses) %>

