<h1>Authentication</h1>
<div class="ui segment">
<p>Professors have access to some student information that we want to keep private. To ensure that only professors have acccess to the student records, we are going to need you to confirm your staff email.</p>
</div>
<div class="ui segment">
<p>Staff are the great, hard-working individuals that have the role of assigning students to the accounts. For obvious reasons these accounts must be authenticated.</p>
</div>
<br /><br />
<div class="ui segment" style ="text-align:center">
	<button type="button" class="ui blue button" onclick="location.href = '/authenticate/confirm' ">Professor Authentication (my account email is my OSU email)</button>
	</div>
<div class="ui segment" style ="text-align:center">
	<button type="button" class="ui blue button" onclick="location.href = '/authenticate/staff' ">Staff Member Authentication (my account email is my OSU email)</button>
	</div>
<div class="ui segment" style ="text-align:center">
	<button type="button" class="ui button inline centered red" onclick="location.href = '/authenticate/email' ">My Account Email is Different from my Staff Email</button>
	</div>


