<h1>Professor Authentication</h1>
<p>Professors have access to some student information that we want ot keep private. To ensure that only professors have acccess to the student records, we are going to need you to confirm your staff email.</p>

<br /><br />
<div class="btn-block">
	<button type="button" class="btn-primary" onclick="location.href = '/authenticate/confirm' ">My Account Email is my Staff Email</button></form>
	<button type="button" class="btn-info" onclick="location.href = '/authenticate/email' ">I make things difficult</button></form>
</div>

