<!--This checks whether the user have the autentications-->
<% current_user.auth_staff(@staff) %>

<% if current_user.staff  %>
	<p>Success, don't make me regret giving you permissions to these records, buddy.</p>
<% else %>
	<p>Nice try hacker.</p> 
	<p>It seems the email registered to your account is not a staff email.</p>
<% end %>

