<form action="../../courses/autofill/">
	<button class="ui right floated violet button">Autofill Graders</button>
</form>
<form action="../../courses/configure/">
	<button class="ui right floated blue button">Configure Courses</button>
</form>
<div class="two ui top attached buttons">
		<form action="../../courses/"><button class="ui button">Edit Course List</button></form>
		<div class="or"></div>
		<form action="../../courses/final"><button class="ui button" >Final Course List</button></form>
</div>
