
	<div class="jumbotron" style="padding-top:10px; padding-bottom:10px; background:transparent !important; color:white; margin-bottom: 0px">
		<div class="col-sm-6" style="background:transparent !important; color:white">
        <ul style="background:transparent !important; color:white; list-style:none">
          <li class="active" role="presentation"><a href="../../../../students">Students</a></li>
          <li role="presentation"><a href="../../../../professors">Professor</a></li>

        </ul>
        </div>
	</div>