
	<div class="jumbotron" style="padding-top:10px; padding-bottom:10px">
		<div class="col-sm-6">
        <ul>
          <li class="active" role="presentation"><a href="#">Students</a></li>
          <li role="presentation"><a href="#">Professor</a></li>
          <li class="presentation"><a href="#">Offered Services</a></li>
        </ul>
        </div>
	</div>