<div class="collapse navbar-collapse" id="navcol-1" style="background-color:#333">        
        <ul class="nav navbar-nav" >
        <% if user_signed_in? %>
          <li class="presentation" role="presentation" style="background-color:white; margin-left:5px; margin-right:5px"><a href="../../../students/index">Students</a></li>
          <li role="presentation" style="background-color:white; margin-left:5px; margin-right:5px"><a href="../../../professors/index">Professor</a></li>
        <% end %>
        </li>
        </ul>
</div>